h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  padding: 0px 0px;
  border: 0;
  background-color: rgba(0,0,0,0);
}

body {
  background-color:#84A178;
  font-family: "Montserrat", sans-serif;
  color: #131313;
}

a {
  text-decoration: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.container {
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* header */
.header-nav,
.header-button {
  display: none;
}

@media screen and (min-width: 1200px) {
  .header-nav {
    display: flex;
    margin-left: 90px;
  }
}

.header-nav-list {
  display: flex;
  height: 42px;
  align-items: center;
}

.header-nav-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;  
  color: #FCFCFC;
}

.header-container {
  display: flex;
  align-items: center;
  padding-top: 12px;
}


@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 32px;
  }
}



@media screen and (min-width: 1200px) {
  .header-container {
    padding-top: 8px;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 16px;
    padding-right: 16px;

  }
}

.header-nav-item:not(:last-child) {
  margin-right: 28px;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  background: #F8D24E;
  border-radius: 10px;
  padding: 12px 36px;
}

.header-button-img {
  margin-left: 4px;
}

.header-mobile-open {
  display: flex;
  align-items: center;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .header-mobile-open {
    margin-right: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .header-mobile-open {
    display: none;
  }
}



.header-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #85A279;
  padding: 12px 32px 64px 32px;
  overflow: auto;
  z-index: 1;

  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.is-hidden {
  transform: translateX(100%);
}

@media screen and (min-width: 1200px) {
  .header-mobile-menu {
    display: none;
  }
}
 
.mobile-menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 51px;
}

@media screen and (min-width:768px) {
  .mobile-menu-wrapper {
    margin-bottom: 76px;
  }
}

.header-nav-mobile {
  margin-bottom: 110px;
}

.nav-mobile-link {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  text-align: center;
  color: #FCFCFC;
}

@media screen and (min-width:768px) {
  .nav-mobile-link {
    font-size: 48px;
    line-height: 1.23;
  }
}


 @media screen and (max-width: 767px) {
  .header-button.header-mobile {
    display: flex;
    margin: 0 auto;
  }
} 

@media screen and (min-width: 768px) {
  .header-button.header-mobile {
    display: none;
  }
} 


@media screen and (max-width: 767px) {
  .header-button {
   display: none;
  }
}


.nav-mobile-list {
  text-align: center;
}

.nav-mobile-item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width:768px) {
  .nav-mobile-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.mobile-link-current {
  color: #131313;
}
